@media only screen and (min-width: 390px) {
#headerText {
  text-align: center;
  color: black;
  font-size: 8px;
}

.video video {
  padding-left: 50px;
  display: block;
  height: 170px;
  width: 170px;
}

#picture img {
  margin-left: 50px;
  height: 200px;
  width: 200px;
}

p {
  font-family: 'Arial' , sans-serif;
  color: black;
  font-size: 15px;
  text-align: center;
  margin-left: 30px;
  max-width: 960px;
}

h3 {
  font-family: 'Arial', sans-serif;
  color: #677464;
  text-align: center;
  font-size: 25px;
  margin-left: 20px;
}
}

#container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}


#mainHeader {
  text-align: center;
  margin: 0 auto;

}


#mainNav {
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}

a  {
  margin-left: 60px;
  display: inline;
  text-decoration: none;
  color: #677464;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
}

a:hover {
  background-color: #677464;
  transition-duration: .5s;
  color: white;
  padding: 5px;
  border-radius: 2px;
}






#AboutTRAA {
  width: 50%;
  float: left;
  margin: 20px;
}







@media only screen and (min-width: 500px) {
  #Welcome {
    margin-top: -150px;
  }

  #picture img {
    margin-top: 70px;
    width: 200px;
    height: 175px;
  }

  p {
   font-size: 18px;
   text-align: left;  
 }

  #Welcome h3 {
  margin-top: 175px;
  margin-left: 30px;
  color: #677464;
  font-size: 30px;
}


h3 {
  font-family: 'Arial', sans-serif;
  color: #677464;
  text-align: left;
  font-size: 35px;
}

#divider {
  margin: 0 auto;
  text-align: center;
  background-color: #677464;
  width: 500px;
  height: 15px;
  display: none;
}

#picture img {
  height: 300px;
  width: 300px;
  display: block;
  margin-right: auto;
}

#merch img {
  position: relative;
  height: 300px;
  width: 300px;
  display: block;
  bottom: 300px;
  margin-right: 200px;
}

.video video {
  margin-right: 100px;
  margin-top: 100px;
  height: 400px;
  width: 900px;
}




}