@media only screen and (min-width: 390px) {
#headerText {
  text-align: center;
  color: black;
  font-size: 8px;
}
#picture {
  margin-left: 150px;
  height: 150px;
  width: 150px;
}
}

#logo img {
  position: relative;
  width: 100px;
  height: 100px;
}

p {
  font-family: 'Arial' , sans-serif;
  color: black;
  font-size: 15px;
  text-align: center;
  margin-left: 30px;
  max-width: 960px;
}

h3 {
  font-family: 'Arial', sans-serif;
  color: #677464;
  text-align: center;
  font-size: 25px;
  margin-left: 20px;
}
}

#container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}


#mainHeader {
  text-align: center;
  margin: 0 auto;

}


#mainNav {
  text-align: left;
  margin: 0 auto;
  text-decoration: none;
}

a  {
  margin-left: 60px;
  display: inline;
  text-decoration: none;
  color: #677464;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
}

a:hover {
  background-color: #677464;
  transition-duration: .5s;
  color: white;
  padding: 5px;
  border-radius: 2px;
}

#ContactUs {
  width: 50%;
  float: left;
  margin: 20px;
}


.logo img {
  margin-top: auto;
  float: left;
margin-left: 10px;
  width: 100px;
  height: 100px;
}







@media only screen and (min-width: 960px) {
  #ContactUs {
    margin-top: -150px;
  }

  #mainNav {
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}

  #picture img {
    margin-top: 70px;
    width: 150px;
    height: 150px;
  }

  p {
   font-size: 25px;
   text-align: left;  
 }

  #ContactUs h3 {
  margin-top: 175px;
  margin-left: 30px;
  color: #677464;
  font-size: 40px;
}


h3 {
  font-family: 'Arial', sans-serif;
  color: #677464;
  text-align: left;
  font-size: 100px;
}


#picture img {
  position: relative;
  height: 325px;
  width: 300px;
  display: block;
  top: -425px;
  margin-left: 1300px;



}